@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300&display=swap');
body
{
    display: flex;
    justify-content: center;
}
.container
{
    border-radius: 20px;
    width: 350px;
    height: 550px;
    background: #212121;
    box-shadow: 0px 0px 15px 0px #212121;
    overflow: hidden;
    font-family: 'Lexend Deca', sans-serif;
    user-select: none;
}

.screen
{
    border-radius: 20px 20px 0 0;
    width: 350px;
    height: 200px;
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keypad {
    border-radius: 0 0 20px 20px;
    width: 350px;
    height: 350px;
    background: #212121;
    display: flex;
    font-size: 30px;
}

.operations {
    width: 90px;
    height: 100%;
    background: #167C80;
    display: flex;
    flex-direction: column;
}

.numbers {
    width: 260px;
    height: 350px;
    background: #212121;
    display: inline-flex;
    flex-wrap: wrap;
}

.number {
    width: 86.6px;
    height: 66px;
    text-align: center;
    color: aliceblue;
    padding-top: 22px;

}

.number:hover {
    background: #252525;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 50px;
}
.number:active {
    background: #323232;
    transition: .2s ease-in-out;
}

.operation {
    width: 100%;
    height: 90px;
    text-align: center;
    padding-top: 16px;
    color: aliceblue;
}

.operation:hover {
    background: #198d91;
    cursor: pointer;
    transition: 250ms ease-in-out;
    border-radius: 15px;
}
.operation:active {
    background: #7cc4ca;
    transition: .4s;
}
ion-icon {
    font-size: 30px;
}

.top-screen {
    height: 55px;
}

.main-screen {
    width: 325px;
    height: 70px;
    display: block;
    color: aliceblue;
    font-size: 50px;
    text-align: right;
    padding-top: 10px;
    max-width: 20rem;
}

.pre-result {
    width: 330px;
    height: 50px;
    color:dimgrey;
    font-size: 30px;
    text-align: right;
}